
lab3/.ipynb_checkpoints/CNN-checkpoint.ipynb
lab3/.ipynb_checkpoints/FeedForward NN-checkpoint.ipynb
lab3/.ipynb_checkpoints/RNN-checkpoint.ipynb
lab3/glove.6B.100d.txt
lab4/.ipynb_checkpoints/ImageGen-checkpoint.ipynb
lab4/.ipynb_checkpoints/MachineTranslation-checkpoint.ipynb
lab4/.ipynb_checkpoints/MT-checkpoint.ipynb
